<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Tus Clientes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {%if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_record'%}">Agregar Cliente</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'search_record'%}">Buscador</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'calendar_view'%}">Crear Evento</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'calendar_activity'%}">Tareas del día</a>
          </li>
          
          <a href="{% url 'logout' %}" class="btn btn-secondary">Salir</a>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Registrate</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Acceso</a>
          </li>

          {% endif %}

        </ul>

      </div>
    </div>
  </nav>